.footer {
  background-color: white;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  margin-top: 15px;
  position: relative;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content p {
  color: #2a233d;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #f25a5b;
}

.social-icons a > * {
  border-radius: 50%;
  padding: 10px;
  background-color: #2a233d;
  color: white;
  transition: transform 0.3s ease;
}

.social-icons a:hover > * {
  transform: scale(1.1);
}